<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ahuralab.farsialphabet"
    android:versionCode="6"
    android:versionName="1.5" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
   

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_farsi"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.ahuralab.farsialphabet.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ahuralab.farsialphabet.AboutActivity"
            android:label="@string/title_activity_about"
            android:parentActivityName="com.ahuralab.farsialphabet.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ahuralab.farsialphabet.MainActivity" />
        </activity>
        <activity
            android:name="com.ahuralab.farsialphabet.WordCanvasActivity"
            android:label="@string/title_activity_word_canvas"
            android:parentActivityName="com.ahuralab.farsialphabet.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ahuralab.farsialphabet.LetterPracticeActivity" />
        </activity>
        <activity
            android:name="com.ahuralab.farsialphabet.LetterPracticeActivity"
            android:label="@string/title_activity_letter_practice"
            android:parentActivityName="com.ahuralab.farsialphabet.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ahuralab.farsialphabet.MainActivity" />
        </activity>
        <activity
            android:name="com.ahuralab.farsialphabet.NumberPracticeActivity"
            android:label="@string/title_activity_number_practice"
            android:parentActivityName="com.ahuralab.farsialphabet.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ahuralab.farsialphabet.MainActivity" />
        </activity>
        <activity
            android:name="com.google.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />
    </application>

</manifest>